
@{
    ViewData["Title"] = "Index";
}

<h1>TGS Functions</h1>

<div class="row">


    <div class="card">
        <div class="card-body">
            <h3>Vowel Count</h3>

            <p>Count the vowels in text.</p>

        </div>
    </div>

    <div class="card">
        <div class="card-body">
            <h3>Anagrams</h3>

            <p>Check to see if the words are anagrams.</p>
        </div>
    </div>

    <div class="card">
        <div class="card-body">
            <h3>Format Numbers</h3>

            <p>Format a number to more readable format.</p>
        </div>
    </div>

    <div class="card">
        <div class="card-body">
            <h3>Swagger Calls</h3>

            <p>Well MVC is not quite needed decided rather to go with Swagger with WebAPIs.</p>
            <a class="btn btn-primary" href="/swagger">here</a>
        </div>
    </div>


</div>