@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">TGS Tests</h1>
    
    <p>
        I enjoyed the test, I started with a small CLI application just to get it all hooked up and added MVC for a bit more of a front end. Eventually decided it is overkill and just quickly added NSWag.
    
        A quick overview of what I have been up to can be found <a href="https://www.linkedin.com/in/heinrich-ludike-6ba0529/">here</a>.
    </p>
    
    <ul>
        <li>C#</li>
        <li>DotNet Core 3.1</li>
        <li>Swagger</li>
        <li>MVC <i>Not needed, but added</i></li>
        <li>CLI <i>old school CLI</i></li>
        <li><b>NO LINQ</b></li>
    </ul>
</div>
